.rectangular-button {
    border-radius: 30px;
    text-align: center;            
    height: 45px;
    & a {
        display: block;
    }
}

.circular-button {
    border-radius: 50%;          
    height: 45px;
    width: 45px;
    background-color: $color-light;
}