.looking {
  text-align: left;
  line-height: 30px;
  padding-bottom: 45px;
  &__subtitle {
    color: $color-primary-light;
    text-transform: capitalize;
  }
  &__title {
    text-transform: capitalize;
    font-family: $font-secondary;
    font-size: rem(24);
    padding-bottom: 15px;
    &--one,
    --two {
      display: block;
      @include tablet {
        display: inline-block;
      }
    }
    @include tablet {
      line-height: 45px;
    }
  }

  &__text {
    padding: 15px 0 30px;
    font-size: rem(18);
  }

  &__button {
    width: 76px;
    height: 45px;
    border: 2px solid $color-secondary;
    border-radius: 30px;
    text-align: center;
    padding: 6px;
    font-size: rem(20);
    color: $font-secondary;
    transition: background-color ease 0.5s, color ease 0.5s;
    a {
      text-transform: capitalize;
      color: $color-secondary;
      padding: 18px;
      @include tablet {
        padding: 11px 25px;
      }
      @include desktop {
        padding: 11px 66px 11px 60px;
      }
    }
    @include tablet {
      width: 91px;
    }
    @include desktop {
      width: 160px;
    }
    &:hover {
      background-color: $color-primary-dark;
      a {      
        color: $color-light;
      }
    }
    &:active {
      background-color: $color-secondary;
    }
  }
}
