.looking {
  text-align: left;

  &__subtitle {
    color: $color-primary-light;
    text-transform: capitalize;
  }
  &__title {
    text-transform: capitalize;
    padding-bottom: 15px;
    &--one,
    --two {
      display: block;
      @include tablet {
        display: inline-block;
      }
    }
  }

  &__text {
    padding: 15px 0 30px;
    color: $color-medium-dark;
  }

  &__button {
    color: $color-secondary;
    width: 76px;
    border: 2px solid $color-secondary;
    margin-bottom: 15px;
    transition: background-color ease 0.5s, color ease 0.5s;
    a {
      text-transform: capitalize;
    }
    @include tablet {
      width: 91px;
      margin-bottom: 0;
    }
    @include desktop {
      width: 160px;
    }
    &:hover {
      background-color: $color-primary-dark;
      a {      
        color: $color-light;
      }
    }
    &:active {
      background-color: $color-secondary;
    }
  }
}
