.page__hero {
    background: url('../images/cover.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;
    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;       
        text-align: center;
    }
    &--title {
        color: $color-light;
        text-transform: uppercase;
        .title1, .title2 {
            display: block;
        }
    }

    &--claim {
        padding: 10px 0 45px;
        color: $color-light;
        @include tablet {                
            padding: 20px 0 30px;   
        }
        @include desktop {
            padding: 0;        
        }
    }

    &--button {
        height: 45px;
        width: 45px;
        margin: 0 0 8px;
        & a {
            display: block;
            line-height: 45px;         
        }
        @include tablet {
            margin: 10px 0 0;
        }
        @include desktop {
            position: relative;
            margin:0;
            transform: translate(0, 47px);
        }
        &:hover a {
            animation: 2s movingdown 0.2s 1; 
        }
        @keyframes movingdown{
            from {
                border-radius: 50%;
                border: 1px solid $color-secondary;
                position: relative;
                transform: rotateY(180deg);
            }
            to {
                border-radius: 50%;
                background-color: $color-primary-dark;
                border: 1 px solid $color-secondary;
                box-shadow: 0 2px 4px 0 $color-primary-dark;
                position: relative;
                transform: translate(0, 200px);
            }
        }
    }

}
