.page__hero {
    background: url('../images/cover.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100vh;
    }
    &--title {
        font-family: $font-secondary;
        color: $color-light;
        line-height: 55px;
        text-align: center;
        text-transform: uppercase;
        font-size: rem(42);
        .title1, .title2 {
            display: block;
        }
        @include tablet {
            line-height: 106px;
            font-size: rem(80);
        }
        @include desktop {
            line-height: 138px;
            font-size: rem(100);
        }
    }

    &--claim {
        padding: 10px 0 45px;
        line-height: 21px;
        & p {
            font-size: rem(16);
            color: $color-light;
            font-family: $font-main;
        }
        @include tablet {                
            padding: 20px 0 30px;   
            & p {
                line-height: 32px;
                font-size: rem(24);  
            }   
        }
        @include desktop {
            padding: 0;        
        }
    }

    &--button {
        height: 45px;
        width: 45px;
        text-align: center;
        background-color: $color-light;
        border-radius: 50%;
        margin: 0 0 38px;
        padding: 15px 0;
        a {
           padding: 10px;
        }
        @include tablet {
            margin: 10px 0 0;
        }
        @include desktop {
            position: relative;
            margin:0;
            transform: translate(0, 47px);
        }
    }

}
