.page__main--reasons {
    background-color: $color-primary-super-light;

    .wrapper {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 184px 1fr;
        .title {
            font-family: $font-secondary;
            text-transform: capitalize;
            padding: 15px;
            grid-column: span 3;
        }

        .reason {
            grid-column-start: 2;
            &__title {
                padding: 30px 0 5px;
            }
            &__text {
                font-size: rem(18);
                padding-bottom: 15px;
            }
        }

        .button__container {
            margin: 30px 0 45px;
            padding: 10px;
            color: $color-light;
            font-size: rem(20);
            height: 45px;
            width: 184px;
            grid-column-start: 2;
            text-align: center;
            background-color: $color-secondary;
            border-radius: 20px;
        }
    }

}

