.page__main--reasons {
    background-color: $color-primary-super-light;
    .wrapper {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 184px 1fr;
        grid-template-rows: 35px 1fr 1fr 1fr 60px;
        grid-row-gap: 45px;
        justify-content: start;
        align-items: center;
        @include tablet {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 90px 105px 105px;
            grid-column-gap: 27px;
        }
        @include desktop {
            padding: 60px 80px;
            grid-template-columns: 354px 354px 354px;
            grid-template-rows: 90px 112px 105px;

        }
    }
    .main__title {
        margin: 0;
        text-align: center;
        text-transform: capitalize;
        grid-row-start: 1;
        grid-column: span 3;
        @include tablet {
            grid-column: span 3;
        }
    }
    .reason__one, .reason__two, .reason__three { 
        grid-column-start: 2;
        grid-row-start: auto;
        @include tablet {
            grid-row-start: 2;
        }
    }

    .reason__one {
        @include tablet {
            grid-column: auto;
        }
    }
    .reason__two {
        @include tablet {
            grid-column: auto;
        }
    }
    .reason__three {
        @include tablet {
            grid-column: auto;
        }
    }
    .reason__title {
        @include desktop {
            padding-bottom: 14px;
        }
    }
    .reason__text {
        @include desktop {
            padding: 0 15px;
        }
    }

    .button__container {
        padding: 10px;
        color: $color-light;
        font-size: rem(20);
        height: 45px;
        width: 184px;
        grid-column-start: 2;
        grid-row-start: 5;
        text-align: center;
        background-color: $color-secondary;
        border-radius: 20px;
        transition: background-color 0.5s;
        & a {
            padding: 12px 20px;
        }

        @include tablet {
            justify-self: center;
            margin-top: 60px;
            grid-column-start: 2;
            grid-row-start: auto;
            width: 210px;
            & a {
            padding: 15px 33px;
            }
        }
        @include desktop{
            justify-self: center;
            width: 255px;
            & a {
            padding: 15px 56px;
            }
        }
        &:hover {
            background-color: $color-primary-super-light;
            border: 1px solid $color-primary-dark;           
            & a {
            padding: 0;
            color: $color-primary-dark;
            }
        }
    }
    

}


