<section class="page__main--looking">
    <div class="wrapper">
        <small>
            <span class="looking__subtitle">insomnia tips</span>
        </small>
        <h2 class="looking__title">looking throught a window</h2>
        <p class="looking__text">
            Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus.
            Vivamus
            semper sodales rutrum.
        </p>
        <a class="looking__button" href="#">go</a>
    </div>
</section>