<section class="looking">
    <div class="wrapper">
        <small>
            <span class="looking__subtitle">insomnia tips</span>
        </small>
        <h2 class="looking__title">
            <span class="looking__title--one">looking throught a</span>
            <span class="looking__title--two">window</span>
        </h2>
        <p class="looking__text">
            Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus.
            Vivamus
            semper sodales rutrum.
        </p>
        <div class="looking__button">
            <a href="#">go</a>
        </div>
    </div>
</section>