<footer class="page__footer">
    <div class="wrapper">
        <a href="#" class="page__footer--button">return</a>
        <nav class="page__footer--submenu">
            <ul>
                <li><a href="#" title="">articles</a></li>
                <li><a href="#" title="">books</a></li>
                <li><a href="#" title="">events</a></li>
                <li><a href="#" title="">reasons</a></li>
                <li><a href="#" title="">tips</a></li>
            </ul>
        </nav>
        <nav class="page__footer--socialMedia">
            <ul>
                <li><a href="#" title="">twitter</a></li>
                <li><a href="#" title="">instagram</a></li>
                <li><a href="#" title="">mastodon.social</a></li>
            </ul>
        </nav>
        <span>&copy;2017</span>
        <span>we <i class="fa fa-heart"></i> components</span>
    </div>
</footer>