<footer class="page__footer">
    <div class="wrapper">
        <div class="page__footer--button">
            <a class="arrow" href="#"><img src="./assets/images/ico-arrow.svg"></a>
        </div>
        <nav class="page__footer--submenu">
            <ul>
                <li><a href="https://medium.com/adalab" title="">articles</a></li>
                <li><a href="https://books.adalab.es/materiales-front-end-j/" title="">books</a></li>
                <li><a href="https://adalab.es/cursos-programacion-madrid/" title="">events</a></li>
                <li><a href="https://adalab.es/desarrollador-front-end/" title="">reasons</a></li>
                <li><a href="https://medium.com/adalab/doce-semanas-y-39-compa%C3%B1eras-5648be0ef8ae" title="">tips</a></li>
            </ul>
        </nav>
        <nav class="page__footer--socialMedia">
            <ul>
                <li><a href="https://twitter.com/Adalab_Digital" title="" target="blank">twitter </a></li>
                <li><a href="https://www.instagram.com/adalab_digital/" title="" target="blank">instagram</a></li>
                <li><a href="https://www.youtube.com/channel/UCYmHARvTgsUrm5YdSYwzmDg" title="" target="blank">mastodon.social</a></li>
            </ul>
        </nav>
        <div class="page__footer--info">
            <span class="copyright">&copy;2017</span>
            <span class="claim">we <i class="fa fa-heart"></i> components</span>
        </div>
    </div>
</footer>