<footer class="page__footer">
    <div class="wrapper">
        <div class="page__footer--button circular-button">
            <a class="arrow" href="#" title="Go up"><img src="./assets/images/ico-arrow.svg"></a>
        </div>
        <nav class="page__footer--submenu txt-sm">
            <ul>
                <li><a href="https://medium.com/adalab" title="Go to articles">articles</a></li>
                <li><a href="https://books.adalab.es/materiales-front-end-j/" title="Go to books">books</a></li>
                <li><a href="https://adalab.es/cursos-programacion-madrid/" title="Go to events">events</a></li>
                <li><a href="https://adalab.es/desarrollador-front-end/" title="Go to reasons">reasons</a></li>
                <li><a href="https://medium.com/adalab/doce-semanas-y-39-compa%C3%B1eras-5648be0ef8ae" title="Go to tips">tips</a></li>
            </ul>
        </nav>
        <nav class="page__footer--socialMedia txt-sm">
            <ul>
                <li><a href="https://twitter.com/Adalab_Digital" title="Go to twitter" target="blank">twitter </a></li>
                <li><a href="https://www.instagram.com/adalab_digital/" title="Go to instagram" target="blank">instagram</a></li>
                <li><a href="https://www.youtube.com/channel/UCYmHARvTgsUrm5YdSYwzmDg" title="Go to Mastodon" target="blank">mastodon.social</a></li>
            </ul>
        </nav>
        <div class="page__footer--info txt-xs">
            <small class="copyright">&copy;2017</small>
            <span class="claim">we <i class="fa fa-heart"></i> components</span>
        </div>
    </div>
</footer>