<header class="page__header">
    <div class="page__header--icon"> 
        <a href="#" title="Ir a Adalab"><img class="floating-menu" src="./assets/images/ico-menu.svg" alt="Go to Adalab" width="100%"></a>
    </div>
    <div class="page__header--title">
        <h1>anonymous proxy</h1>
    </div>
    <div class="page__header--claim">
        <h1>In hac habitasse platea dictumst.</h1>
    </div>
    <div class="page__header--button">
        <a href="#" title="Go to 3 Reasons To Purchase">button2</a>
    </div>
</header>