<div class="page__hero">
    <div class="wrapper">  
        <h1 class="page__hero--title">
            <span class="title1">anonymous</span>
            <span class="title2">proxy</span>
        </h1>
        <div class="page__hero--claim">
            <p>In hac habitasse platea dictumst.</p>
        </div>
        <div class="page__hero--button">
            <a href="#reasons" title="Go to 3 Reasons To Purchase">
                <img class="arrow" src="./assets/images/ico-scroll-down.svg" alt="arrow">
            </a>
        </div>
    </div>
</div>