<main class="page__main">
    <div class="wrapper">
        <section class="page__main--looking">
            <small>
                <p>insomnia tips</p>
            </small>
            <h2>looking throught a window</h2>
            <p>
                Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
                semper sodales rutrum.
            </p>
            <a href="#">go</a>
        </section>
        <section class="page__main--reasons">
            <h2 class="title">3 reasons to purchase</h2>
            <div class="reasons">
                <div class="reason__one">
                    <h3>Ut sed metus</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
                <div class="reason__two">
                    <h3>Curabitur ac erat</h3>
                    <p>Mauris mattis urna quis lorem molestie.</p>
                </div>
                <div class="reason__three">
                    <h3>Morbi dictum</h3>
                    <p>Aliquam in dolor et dolor tincidunt</p>
                </div>
            </div>
            <a href="#" class="button">More reasons</a>
        </section>
    </div>
</main>