<section class="page__main--reasons" id="reasons">
    <div class="wrapper">
        <h2 class="main__title txt-lg">3 reasons to purchase</h2>
        <include src="./options.html" number="reason__one" title="Ut sed metus"
            text="Lorem ipsum dolor sit amet, consectetur."></include>
        <include src="./options.html" number="reason__two" title="Curabitur ac erat"
            text="Mauris mattis urna quis lorem molestie."></include>
        <include src="./options.html" number="reason__three" title="Morbi dictum"
            text="Aliquam in dolor et dolor tincidunt"></include>
        <div class="button__container">
            <a href="#" class="button">More reasons</a>
        </div>
    </div>
</section>