// fonts
$font-main: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', serif;

// colors
$color-primary: #f26002;
$color-light: #ffffff;
$color-secondary-light: #8ccbea;
$color-secondary-medium: #0271bc;
$color-secondary-dark: #304268;

