// fonts
$font-main: "Roboto", sans-serif;
$font-secondary: "Roboto Slab", serif;
$defaultSize: 16;

// colors
$color-primary-light: #8ccbea;
$color-primary-medium: #0271bc;
$color-primary-dark: #304268;
$color-secondary: #f26002;
$color-light: #ffffff;
$color-primary-super-light: #eff9ff;
$color-dark: #000000;
$color-medium-dark: #4a4a4a;

/*DEVICES*/
$tablet: 768px;
$desktop: 1280px;