// fonts
$font-main: "Roboto", sans-serif;
$font-secondary: "Roboto Slab", serif;
$defaultSize: 16;

// colors
$color-primary-light: #8ccbea;
$color-primary-medium: #0271bc;
$color-primary-dark: #304268;
$color-secondary: #f26002;
$color-light: #ffffff;

