.page__footer {
    background-color: $color-primary-dark;
    color: $color-light;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            text-align: left;
            padding: 45px 40px 45px;
        }
        @include desktop {
            padding: 45px 346px 45px;
        }
    }
    &--button {
        position: absolute;
        text-align: center;
        border-radius: 50%;
        transform: translate(0, -25px);
        top: 0;
        height: 45px;
        width: 45px;
        background-color: white;
        box-shadow: 0 2px 4px 0 $color-primary-dark;
        padding-top: 10px;
        &:hover {
            animation: 2s moving 0.2s 1; 
        }
        @keyframes moving {
            from {
                transform: translate(0, -25px) rotateY(180deg);
            }
            to {
                transform: translate(0, -200px);
            }
        }
        @include tablet {
            order: 2;
            transform: translate(44vw, -25px);
            @keyframes moving {
                from {
                    transform: translate(44vw, -25px) rotateY(180deg);
                }
                to {
                    transform: translate(44vw, -200px);
                    
                }
            }
        }
        @include desktop {
            transform: translate(275px, -25px);
            @keyframes moving {
                from {
                    transform: translate(275px, -25px) rotateY(180deg);
                }
                to {
                    transform: translate(275px, -200px);
                    
                }
            }
        }
    }
    
    &--submenu {
        text-transform: uppercase;
        margin: 0;
        a{
            padding: 5px;
          }
        @include tablet {
           padding: 0px;
           margin-right: 30px;
        }
    }

    &--socialMedia {
        text-transform: uppercase;
        padding: 15px;
        a{
            padding: 5px;
          }
        @include tablet {
           padding: 0px;
           margin-right: 30px;
        }
        @include tablet {
           padding: 0px;
           margin-right: 0;
        }
    }
    &--info {
        padding: 15px;
        span {
            display: block;
            .fa-heart{
                color: $color-secondary;
            }
        }
        @include tablet {
            order: -1;
            padding: 0px;
            margin-right: 30px;
        }
    }

}
