.page__header {
    &--icon{
        position: fixed;
        height: 44px;
        width: 44px;
        background-color: $color-primary-medium;
        z-index: 1;
        .floating-menu {
            padding: 14px;
        }
    }
}
